In [1]:
from scipy import stats as st
import numpy as np
import pandas as pd

# Ejercicio 7 - Intervalo de confianza

In [6]:
data = pd.read_csv(r'C:\Users\Diego\Documents\UBA\Islander_data.csv')
data.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

In [10]:
x = data['Mem_Score_After']

In [14]:
n = len(x)

In [15]:
prom = x.mean() #estimador de mu
desvio = x.std()

In [18]:
IC = [round(prom - st.norm.ppf(0.975) * desvio / np.sqrt(n), 4) , round(prom + st.norm.ppf(0.975) * desvio / np.sqrt(n), 4)]
IC

[58.3964, 63.4481]

In [19]:
st.t.interval(alpha=0.95, df=len(x)-1, loc=np.mean(x), scale=st.sem(x))

(58.380771059324545, 63.46367338511985)

# Test de hip√≥tesis

## Ejercicio 2

## Simular una muestra de 20 con tita =3

In [22]:
x = st.uniform.rvs(0,3,20)
x

array([2.71027   , 2.48249645, 1.066154  , 0.14157876, 0.38860397,
       1.8139155 , 1.25872859, 2.48287341, 1.02150216, 0.44544762,
       0.70855592, 1.40464333, 1.01013196, 2.10492828, 0.35441111,
       1.83565004, 0.64556988, 0.6922424 , 1.28013225, 2.33654368])

In [27]:
max(x)

2.7102700014711982

In [25]:
k = 0.95**(1/20)
k

0.9974386212234697