In [4]:
from scipy import stats as st
import numpy as np
import pandas as pd

# Ejercicio 7 - Clase 5

In [8]:
data = pd.read_csv(r'C:\Users\Diego\Documents\UBA\Islander_data.csv')
data.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

In [3]:
x = data['Mem_Score_After']

In [5]:
promedio = x.mean()

In [6]:
desvío = x.std()

In [9]:
IC = [promedio - st.norm.ppf(0.975)*desvío/np.sqrt(len(x)), promedio + st.norm.ppf(0.975)*desvío/np.sqrt(len(x))]
IC

[58.39638392546326, 63.44806051898113]

In [14]:
st.norm.interval(alpha = 0.95, loc = promedio, scale = desvío/np.sqrt(len(x)))

(58.39638392546326, 63.44806051898113)

# Test de hipótesis

## Ejercicio 2

In [16]:
x = st.uniform.rvs(0,3, 20)
x

array([1.65371211, 1.70110705, 2.19010042, 1.70030893, 0.75698883,
       2.9203779 , 2.9302707 , 1.57970144, 0.37759711, 1.25262077,
       1.81082318, 0.54700776, 2.91945597, 0.61359164, 2.06934442,
       2.01358876, 0.92119708, 1.16961539, 0.74295129, 0.34066343])

In [18]:
t = max(x)/2.5
t

1.1721082804319523

## Ejercicio 4

### Calculo el cuantil 0.01 para hallar $k_{\alpha}$

In [5]:
st.norm.ppf(0.01)

-2.3263478740408408

#### Creo mis muestras a partir de la diferencia de tiempos

In [11]:
x = data.Mem_Score_After - data.Mem_Score_Before

#### Calculo media y desvío muestral

In [21]:
promedio = x.mean()
desvio = x.std()
desvio

10.754602581959647

### Calculo el valor del estadístico basado en las observaciones

In [22]:
u = media/sigma*np.sqrt(len(x))
u

3.865706740208396

### Calculo el p-valor y tomo la decisión

In [16]:
p_valor = 1 - st.norm.cdf(u)
p_valor

5.538398615911877e-05