In [26]:
from scipy import stats
from numpy import sqrt
import pandas as pd
import numpy as np

In [6]:
 z975 = stats.norm.ppf(0.975)

In [3]:
x=30
n=50

In [7]:
print(f'({x/n - z975*sqrt((x/n*(1-x/n))/50)}, {x/n + z975*sqrt((x/n*(1-x/n))/50)})')

(0.46420971191085936, 0.7357902880891406)

IC para media de los datos Islader_data

In [12]:
data = pd.read_csv('Islander_data.csv')
data.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

In [13]:
x = data.Mem_Score_After

In [16]:
z975 = stats.norm.ppf(0.975)
prom = x.mean()
s = x.std(ddof=1)

In [19]:
print(f'({prom - z975*sqrt(s/50)}, {prom + z975*sqrt(s/50)})')

(59.74187953755533, 62.102564906889135)

Test de hipotesis para uniforme

In [33]:
x = stats.uniform.rvs(size=20, loc=0, scale=2.2)
t = max(x)
t

2.05659216180441

In [34]:
umbral = 0.05**(1/20)*2.5 
umbral

2.152229148329337

In [36]:
pvalor = (t/2.5)**20
pvalor

0.020144818175582172

In [37]:
stats.t.ppf(0.975, df=14)

2.1447866879169273

In [38]:
prom = 3.88
s=0.87
n=15
t = (prom-4)/(s/sqrt(n))
t

-0.5342045994768856

In [39]:
2*stats.t.cdf(t,df=n-1)

0.601580514678413

In [41]:
z=(0.62-0.5)/sqrt(.25/100)

In [42]:
stats.norm.sf(z)

0.008197535924596131