In [5]:
import numpy as np
from scipy import stats
import pandas as pd

# Ejercicio 6 de IC

Cargo el dataset

In [3]:
data = pd.read_csv('Islander_data.csv')
data.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

# Ej 2 de test de hipotesis

Genero las muestras uniformes

In [8]:
x = stats.uniform.rvs(0,3, size=20)

Calculo es valor del estadístico a partir de las muestras observadas

In [10]:
max(x)/2.5

1.1882759018660298

Para el n dado, calculo cuanto vale $k_\alpha$

In [11]:
0.95**(1/20)

0.9974386212234697

# ejercicio 3 de test de hipotesis

Calculo el cuantil 0.99 de la normal estándar

In [12]:
stats.norm.ppf(0.99)

2.3263478740408408

Calculo el valor del estadístico basado en el valor de la muestra observada

In [13]:
(.62-.5)/(.5) *10

2.4

Calculo el p-valor asociado a la observación

In [14]:
1-stats.norm.cdf(2.4)

0.008197535924596155

Calculo el valor del error de tipo II para p=0.6:
1. reestandarizo el promedio y recalculo el valor donde voy aevaluar la proba acumulada
2. Calculo la proba en ese punto

In [17]:
z = 2.33*0.5/np.sqrt(0.6*0.4) + (0.5-0.6)*10/np.sqrt(0.6*0.4)

In [18]:
stats.norm.cdf(z)

0.6318679877370295

# ejercicio 4 test de hipótesis

Calculo el cuantil 0.01 para hallar $k_\alpha$

In [19]:
stats.norm.ppf(0.01)

-2.3263478740408408

Creo mis muestras a partir de la diferencia de tiempos

In [24]:
x = data.Mem_Score_After - data.Mem_Score_Before

Calculo media y desvío muestral

In [25]:
media = x.mean()
sigma = x.std()

calculo el valor del estadístico basado en las observaciones

In [26]:
u = media/sigma*np.sqrt(len(x))

In [27]:
u

3.865706740208396