In [40]:
import numpy as np
import pandas as pd
from scipy import stats

Ejercico 2

In [23]:
theta = 2.55

In [24]:
x = np.random.uniform(0,theta, size=25)

In [25]:
max(x)

1.9752642048711737

In [26]:
U_0 = max(x)/2.5
U_0

0.7901056819484695

In [27]:
k = 0.95**(1/25)
k

0.9979503715873792

In [28]:
2.5*0.79

1.975

In [29]:
1-(1.975/2.5)**25

0.9972414727259549

In [31]:
2.5*.99

2.475

Ejercicio 3

In [33]:
q99 = stats.norm.ppf(0.99)
q99

2.3263478740408408

In [34]:
(0.62-0.5)*10/0.5

2.4

In [36]:
1- stats.norm.cdf(2.4)

0.008197535924596155

Ejercicio 4

In [39]:
z995= stats.norm.ppf(0.995)
z995

2.5758293035489004

In [43]:
data = pd.read_csv('Islander_data.csv')
data.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

In [44]:
x_  = data.Diff

promedio = x_.mean()
s = x_.std()
print('Promedio ', promedio, ', S ', s)

In [47]:
T = promedio*np.sqrt(len(x_))/s
T

3.8657067402083976